
body {
	margin: 0px;
	padding: 10px;
	background-color: #fc3bb6;
}
p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	color: black;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: black;
}
